body {
  height: 90%;
  width: 100%;
  background: rgb(93,255,0);
  background: linear-gradient(90deg, rgba(93,255,0,1) 0%, rgba(0,119,255,1) 48%, rgba(250,0,255,1) 100%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.heading_div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#my_photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 5px 5px 3px black;
}

.heading {
  font-family: 'Luckiest Guy', cursive;
  font-size: 50px;
  color: #f5d742;
  margin-top: 25px;
  margin-bottom: 25px;
}

.heading_img {

}

.images_div {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.about_me {
  text-align: left;
  width: 50%;
font-family: 'Allan', cursive;
font-size: 20px;
}
